#cadre
{
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

body
{
    margin: 10px;
}

#tux
{
    position: absolute;
    top: 100px;
    left: 100px;
    transition: top .3s, left .3s;
}

.splat
{
    position: absolute;
    transform: scale(2);
    transition: top .3s, left .3s, transform .3s;
}