body
{
    background-image: url(https://moodle.iutv.univ-paris13.fr/img/js/texture-grise.jpg);
}

#onglets
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#onglets-menu
{
    list-style: none;
    display: flex;
    padding: 0px;
}

#onglets-menu li 
{
    background: linear-gradient(220deg, transparent 10px, #ad1c1c 11px);
    color: white;
    padding: 11px 30px;
    font-family: 'Lucida sans', Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

#onglets-menu li:hover 
{
    background: linear-gradient(220deg, transparent 10px, #c93434 11px);
}

#onglets-menu .menu-actif
{
    background: linear-gradient(220deg, transparent 10px, white 11px);
    color: #333;
    text-shadow: none;
}

/* Forcer à rester blanc quand la souris passe sur le menu actif */
#onglets-menu .menu-actif:hover
{
    background: linear-gradient(220deg, transparent 10px, white 11px);
}

#onglets-contenu
{
    clear: both;
    background: white;
}

#onglets-contenu>div
{
    display:none;
    padding: 30px;
}

#onglets-contenu>.contenu-actif
{
    display:block;
}

#onglets-contenu>div>*:first-child
			   {
			       margin-top: 0;
			   }